.moduleGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .moduleGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
